// RWD breakpoint
@mixin laptop {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin pad {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 680px) {
    @content;
  }
}

// Scss parent selector
@mixin attach-root() {
  $current-selector: &;
  $new-selector: [];

  @each $item in $current-selector {
    $first-node: nth($item, 1);
    $appended-node: $first-node + $new-class;
    $new-item: set-nth($item, 1, $appended-node);
    $new-selector: append($new-item, $new-selector);
  }

  @at-root #{$new-selector} {
    @content;
  }
}
